<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>551365322990-65barbnffj0ssgq2669oqshaf630u4as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551365322990-65barbnffj0ssgq2669oqshaf630u4as</string>
	<key>API_KEY</key>
	<string>AIzaSyDa8e-S2ezaLUXc7m6Q6lLZV2VWBF1vrWc</string>
	<key>GCM_SENDER_ID</key>
	<string>551365322990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vidao.interview.chat.VDMChat</string>
	<key>PROJECT_ID</key>
	<string>myvdmchat</string>
	<key>STORAGE_BUCKET</key>
	<string>myvdmchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:551365322990:ios:3097dec2f9e55c28</string>
	<key>DATABASE_URL</key>
	<string>https://myvdmchat.firebaseio.com</string>
</dict>
</plist>